
<div *ngIf="category">
    <h2 style="text-align: center;">
        <span jhiTranslate="ngocjr7BlogApp.category.detail.title">Category</span>: {{category.name}}
        <button class="btn btn-primary float-right jh-create-entity create-post"
                [routerLink]="['./post-new']"
                *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ngocjr7BlogApp.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>

    <div class="table-responsive" *ngIf="posts">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let post of posts; trackBy: trackId">
                <jhi-post-preview [post]="post">alo</jhi-post-preview>
            </div>
        </div>
    </div>
</div>
