<!-- Sidebar Widgets Column -->
<div>

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header"><a [routerLink]="['/category']" style="color: #000000;">Categories</a></h5>
        <div class="card-body">
            <div class="container">
                <ul>
                    <li *ngFor="let category of categories; let i = index">
                        <a [routerLink]="['/category/'+category.id]">{{category.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Top Post</h5>
        <div class="card-body">
            <span *ngFor="let post of posts; let i = index">
                <div *ngIf="i <= 5">
                    <a [routerLink]="['/post/'+post.id]"><i class="fa fa-angle-double-right"></i>{{post.title}}</a>
                </div>
            </span>
        </div>
    </div>

</div>
