<div class="left">
    <div class="item">
        <i class="fa fa-university"></i>
        Ú Òa</div>
    <div class="item active">
        <i class="fa fa-comments"></i>
        Message Me</div>
    <div class="item" [routerLink]="['/category']">
        <i class="fa fa-th-list"></i>
        Categories</div>
    <div class="item">
        <i class="fa fa-american-sign-language-interpreting"></i>
        Reference</div>
    <div class="item">
        <i class="fa fa-male"></i>
        About Me</div>
    <div class="item">
        <i class="fa fa-address-book"></i>
        Contact</div>
</div>
