<div>
    <h2>
        <span jhiTranslate="ngocjr7BlogApp.comment.home.title">Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment"
                *jhiHasAnyAuthority="'ROLE_USER'"
                (click)='isVisibleTextArea = !isVisibleTextArea'>
            <span class="fa fa-plus"></span>
            <span>
            Create new Comment
            </span>
        </button>
    </h2>
    <div *ngIf='isVisibleTextArea'>
        <textarea cols="50" rows="5"
            [(ngModel)]="message">
        </textarea>
        <button (click)="send()">Send</button>
    </div>

    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="ngocjr7BlogApp.comment.content">Content</span></th>
            <th><span jhiTranslate="ngocjr7BlogApp.comment.vote">Vote</span></th>
            <th><span jhiTranslate="ngocjr7BlogApp.comment.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ; let i = index; trackBy: trackId">
                <td>{{comment.content}}</td>
                <td>{{comment.vote}}</td>
                <td>
                    {{comment.user?.login}}
                </td>
                <td>
                    <div *ngIf="comment.pcomment">
                        <a [routerLink]="['../comment', comment.pcomment?.id ]" >{{comment.pcomment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm"
                                *jhiHasAnyAuthority="'ROLE_USER'">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <ng-container *ngIf="authorizedComment(i)">
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm"
                                    *jhiHasAnyAuthority="'ROLE_USER'">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </ng-container>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
