
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<jhi-sidebar-nav (choiceChange)='setChoice($event)'></jhi-sidebar-nav>
<div *ngIf="choice === 'resume'; else elseBlock">
    <div class="container-fluid">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card jh-card">
                    <router-outlet></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
                <jhi-footer></jhi-footer>
            </div>
            <div class="col-md-3">
                <jhi-sidebar-widgets-col></jhi-sidebar-widgets-col>
            </div>
        </div>
    </div>
</ng-template>
