<div *ngIf="post" class="card mb-4 card-body">

    <h2>
                    <span [routerLink]="['/post/',post.id ]">
                        <a style="color: #000000; font-size: 25px" href="javascript:void(0);">{{post.title}}</a>
                    </span>
        <div class="btn-group mb-2 mt-1">
            <button type="submit"
                    [routerLink]="['/post/'+post.id+'/edit']"
                    class="button button-no-border"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <span class="fa fa-pencil"></span>
                <span class="hidden-md-down" ></span>
            </button>
            <button type="submit"
                    [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                    replaceUrl="true"
                    class="button button-no-border"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down" ></span>
            </button>
        </div>
    </h2>
    <small style="font-style: italic;">Posted on {{post.date | date: 'mediumDate'}} by ngocjr7</small>
    <hr/>
    <div [innerHTML]="previewContent(post.content)"></div>
</div>

<!-- Blog Post -->
<!--<div class="card mb-4">-->
    <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
    <!--<div class="card-body">-->
        <!--<h2 class="card-title">Post Title</h2>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>-->
        <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
    <!--</div>-->
    <!--<div class="card-footer text-muted">-->
        <!--Posted on January 1, 2017 by-->
        <!--<a href="#">Start Bootstrap</a>-->
    <!--</div>-->
<!--</div>-->
