<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPostLabel" jhiTranslate="ngocjr7BlogApp.post.home.createOrEditLabel">Create or edit a Post</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ngocjr7BlogApp.post.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="post.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div>
            <label class="form-control-label" jhiTranslate="ngocjr7BlogApp.post.content" for="field_content">Content</label>
            <ckeditor class="form-control" name="content" id="field_content"
                          ngDefaultControl [(ngModel)]="post.content">
            </ckeditor>
        </div>

        <div *ngIf="!post.category" class="form-group">
            <label class="form-control-label" jhiTranslate="ngocjr7BlogApp.post.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="post.category" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id === post.category?.id ? post.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="ngocjr7BlogApp.post.tag" for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" [(ngModel)]="post.tags">
                <option [ngValue]="getSelected(post.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
