
<div *ngIf="post">
    <h2>{{post.title}}</h2>
    <dd>
        <span>Post on {{post.date | date:'mediumDate'}} by ngocjr7</span>
    </dd>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dd>
            <div [innerHTML]="post.content"></div>
        </dd>

        <table>
            <tr>
                <td>
                    <dt><span jhiTranslate="ngocjr7BlogApp.post.category">Category</span></dt>
                </td>
                <td>
                    <dd>
                        <div *ngIf="post.category">
                            <a [routerLink]="['/category', post.category?.id]">{{post.category?.name}}</a>
                        </div>
                    </dd>
                </td>

            </tr>
            <tr>
                <td>
                    <dt><span jhiTranslate="ngocjr7BlogApp.post.tag">Tag</span></dt>
                </td>
                <td>
                    <dd>
                        <span *ngFor="let tag of post.tags; let last = last">
                            <a [routerLink]="['/tag', tag?.id ]">{{tag.name}}</a>{{last ? '' : ', '}}
                        </span>
                    </dd>
                </td>
            </tr>

        </table>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/post/'+post.id+'/edit']"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary"
            *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>


    <br>
    <jhi-comment-list [post]='post'>Comment</jhi-comment-list>
</div>
