<div>
    <h2>
        <span jhiTranslate="ngocjr7BlogApp.post.home.title">Posts</span>
        <button class="btn btn-primary float-right jh-create-entity create-post"
                [routerLink]="['../post-new']"
                *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ngocjr7BlogApp.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let post of posts; trackBy: trackId">
                <h2><span [routerLink]="['../post/',post.id ]"><a href="javascript:void(0);">{{post.title}}</a> </span></h2>
                <small>Posted on {{post.date | date: 'mediumDate'}} by ADMIN</small>
                <div [innerHTML]="post.content"></div>
                <div class="btn-group mb-2 mt-1">
                    <button type="submit"
                            [routerLink]="['../post/'+post.id+'/edit']"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm"
                            *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm"
                            *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
