
<div *ngIf="post">
    <h2><span jhiTranslate="ngocjr7BlogApp.post.detail.title">Post</span> {{post.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ngocjr7BlogApp.post.title">Title</span></dt>
        <dd>
            <span>{{post.title}}</span>
        </dd>
        <dt><span jhiTranslate="ngocjr7BlogApp.post.content">Content</span></dt>
        <dd>
            <span>{{post.content}}</span>
        </dd>
        <dt><span jhiTranslate="ngocjr7BlogApp.post.date">Date</span></dt>
        <dd>
            <span>{{post.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ngocjr7BlogApp.post.category">Category</span></dt>
        <dd>
            <div *ngIf="post.category">
                <a [routerLink]="['/category', post.category?.id]">{{post.category?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ngocjr7BlogApp.post.tag">Tag</span></dt>
        <dd>
            <span *ngFor="let tag of post.tags; let last = last">
                <a [routerLink]="['/tag', tag?.id ]">{{tag.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary"
            *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>


    <br>
    <jhi-comment>Comment</jhi-comment>
</div>
